.img {
  max-width: 600px;
  margin-bottom: 30px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.textbox {
  margin-top: 50px;
  padding: 50px;
  color: black;
  background-color: rgba(62, 62, 62, 0.057);
  margin-bottom: 100px;
}
